.card {
    max-width: 100% !important;
}

.bg-info {
    background-color: #24b0ed !important;
}
.bg-success {
    background-color: #24b0ed !important;
}
.bg-warning {
    background-color: #24b0ed !important;
}
.bg-danger {
    background-color: #24b0ed !important;
}