<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #24b0ed;">
    <!-- Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/img/lg.png"  style="width: 150px;height: 120px;" alt="User Image">
        </div>
        
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item">
                <a routerLink="dashboard" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
                 Home
    
                  </p>
                </a>
    
              </li>
              <li class="nav-item">
                <a routerLink="topicCategory" class="nav-link">
                  <i class="nav-icon fas fa-edit"></i>
                  <p >
                   Topic Category
                  </p>
                </a>
             
              </li>
          <li class="nav-item">
            <a routerLink="topic" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
               Topics

              </p>
            </a>

          </li>
          <li class="nav-item">
            <a routerLink="testimonial" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
               Testimonials
              </p>
            </a>
          
          </li>
          <li class="nav-item">
            <a routerLink="school" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
               Schools
           
              </p>
            </a>
           
          </li>
        
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>